name: docker-build

on:
  push:
    branches:
      - main

permissions: write-all

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Define next tag
        uses: paulhatch/semantic-version@v5.0.2
        id: version
        with:
          tag_prefix: ""
          major_pattern: "(MAJOR)"
          minor_pattern: "(MINOR)"
          change_path: .
          version_format: "${major}.${minor}.${patch}"

      - name: Create tag
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          
          git tag "${{ steps.version.outputs.version }}" -m "[forgejo-action-tag]"
          git push origin --tags

  docker-build:
    runs-on: ubuntu-latest
    needs:
        - release
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: reg.h2-invent.com
          username: ${{ secrets.HARBOR_REGISTRY_USER }}
          password: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            reg.h2-invent.com/meetling/simplePoll-Backend:${{ needs.release.outputs.version }},
            reg.h2-invent.com/meetling/simplePoll-Backend:latest
